@model AccountIndexViewModel

<div>
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("admin"))
        {
            <span><a asp-controller="Admin" asp-action="Index">Admin Center</a> | </span>
        }

        <a asp-controller="Account" asp-action="Index" asp-route-id="@User.Identity!.Name">@User.Identity!.Name</a>
        <span class="mx-2">|</span>
        <a asp-controller="Account" asp-action="SignOut">Sign Out</a>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Login</a>
        <span class="mx-2">|</span>
        <a asp-controller="Account" asp-action="Register">Register</a>
    }
</div>
<section class="profile">
    <div>@Model.Profile.UserId</div>
    <div>@Model.Profile.FirstName</div>
    <div>@Model.Profile.LastName</div>
    <div>@Model.Profile.Email</div>
    <div>@Model.Profile.StreetName</div>
    <div>@Model.Profile.PostalCode</div>
    <div>@Model.Profile.City</div>

    <div>
        <a asp-action="Edit">Edit</a>
    </div>
</section>